<section class="comic-list ideal ">

    <div class="ui-status empty">
        NO hay Laminas

    </div>
    <div class="ui-status error">
        Se ha producido un error

    </div>
    <div class="ui-status loading">
        cargando


    </div>

    <div class="ui-status ideal">
        <a href="detail.html">
    <article class="comic">
        <img class="cover" src="img/avengers.jpg" alt="disco" >
        <div class="num-pag">Pagina 1</div>
        <div class="Autor">Kwan Chang</div>
    </article>
</a>
    </div>


<div class="ui-status ideal">
        <a href="detail.html">
    <article class="comic">
        <img class="cover" src="img/1.jpg" alt="disco" >
        <div class="num-pag"> Pagina 2</div>
        <div class="Autor">Pablo Sahuquillo </div>
    </article>
        </a>
</div>

<div class="ui-status ideal">
        <a href="detail.html">

    <article class="comic">
        <img class="cover" src="img/2.jpg" alt="disco" >
        <div class="num-pag">Pagina 3</div>
        <div class="Autor">Pablo Sahuquillo</div>
    </article>
        </a>

</div>


    <div class="ui-status ideal">
            <a href="detail.html">
    <article class="comic">
        <img class="cover" src="img/3.jpg" alt="disco" >
        <div class="num-pag">Pagina 4</div>
        <div class="Autor">Pablo Sahuquillo</div>
    </article>
            </a>
    </div>



    <div class="ui-status ideal">
            <a href="detail.html">
    <article class="comic">
        <img class="cover" src="img/4.jpg" alt="disco" >
        <div class="num-pag">Pagina 5</div>
        <div class="Autor">Pablo Sahuquillo</div>
    </article>
            </a>
    </div>

    <div class="ui-status ideal">
            <a href="detail.html">
    <article class="comic">
        <img class="cover" src="img/5.jpg" alt="disco" >
        <div class="num-pag">Pagina 6</div>
        <div class="Autor">Pablo Sahuquillo</div>
    </article>
            </a>
    </div>


    <div class="ui-status ideal">
            <a href="detail.html">
    <article class="comic">
        <img class="cover" src="img/6.jpg" alt="disco" >
        <div class="num-pag">Pagina 7</div>
        <div class="Autor">Pablo Sahuquillo</div>
    </article>
            </a>
    </div>

    <div class="ui-status ideal">
            <a href="detail.html">
    <article class="comic">
        <img class="cover" src="img/7.jpg" alt="disco" >
        <div class="num-pag">Pagina 8</div>
        <div class="Autor">Pablo Sahuquillo</div>
    </article>
            </a>
    </div>

    <div class="ui-status ideal">
            <a href="detail.html">
    <article class="comic">
        <img class="cover" src="img/thor.jpg" alt="disco" >
        <div class="num-pag"> Pagina 9</div>
        <div class="Autor">Oliver Coipel</div>
    </article>
            </a>
    </div>

    <div class="ui-status ideal">
            <a href="detail.html">
    <article class="comic">
        <img class="cover" src="img/10.jpg" alt="disco" >
        <div class="num-pag">Pagina 10</div>
        <div class="Autor">Lee Garbett</div>
    </article>
            </a>
    </div>





</section>

