<form novalidate class="song-form">

    <div class="ui-status error">Se ha producido un error</div> 

    <div class="ui-status loading">Guardando canción</div
        >
    <div class="ui-status ideal">
        <div class="form-control-group">
            <label for="page">Page</label>
            <input type="text" id="page" name="page"
            placeholder="page" required>
        </div>
        <div class="form-control-group">
                <label for="tittle">Titulo</label>
                <input type="text" id="tittle" name="tittle"
                placeholder="tittle" required>

        </div>
        <div class="form-control-group">
                <label for="cover_url">Cover Url</label>
                <input type="url" id="cover_url" name="cover_url"
                placeholder="http://..." required>

        </div>
        <div class="form-control-group">
            <button>Guardar</button>


        </div>
    </div>
</form>