<div>
  
        <h2 class="nombre">Pablo Sahuquillo</h2>

     <hr>
     <br>
            <ul class="texto">
                    <li type="disc">Esta lamina, forma parte de su tercer cómic: Azar.
                 Finalizado en las manos del cocurso intenacional de cómic de Canarias.
                Al cual se presento con Ricardo Vilbor, el guinista, el cual ha escrito
                 comics como: Chorizos a la Española"y "Valentia", gandor del concurso 
                 nacional de cómic valenciano. </li>
                </ul>
                
                 <br>
                 <hr>
    <h4 class="precio">Precio:</h4>
<div>
    <h1 class="valor">300.00$</h1>
</div>
    </div>